:host{
  position:absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255,255,255,.5);
  z-index: 10;
}

.loader-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /****** center box
  width: 300px;
  height: 300px;
  border: solid 1px #aaa;
  ******/

  .loader-circle-9 {
    position: relative;
    padding: 10px;
    margin:auto;
    width: 120px;
    height: 120px;
    background: rgba(255,255,255,.7);
    border: 3px solid rgba(63, 81, 177,.5);
    border-radius: 50%;
    font-family: sans-serif;
    text-transform: uppercase;
    box-shadow: 0 0 20px rgb(63, 81, 177);
    display: flex;

    .text{
      text-align: center;
      margin: auto;
      color: #3f51b1;
      font-weight: 500;
      font-size: 14px;
      font-family: Poppins, sans-serif;
      font-style: normal;
    }

    &:before {
      content: '';
      position: absolute;
      top: -3px;
      left: -3px;
      width: calc(100% + 6px);
      height: calc(100% + 6px);
      border: 3px solid transparent;
      border-top: 3px solid #3f51b1;
      border-right: 3px solid #3f51b1;
      border-radius: 50%;
      animation: animateC 1s linear infinite;
    }

    span {
      display: block;
      position: absolute;
      top: calc(50% - 2px);
      left: 50%;
      width: 50%;
      height: 4px;
      background: transparent;
      transform-origin: left;
      animation: animate 1s linear infinite;

      &:before {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: linear-gradient(90deg, #3f51b1 0%, #038fcf 100%);
        top: -6px;
        right: -8px;
        box-shadow: 0 0 20px #00eaff;
      }

    }

  }

  @keyframes animateC {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes animate {
    0% {
      transform: rotate(45deg);
    }
    100% {
      transform: rotate(405deg);
    }
  }

}
