<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<table datatable [dtOptions]="dtResponsiveOptions" class="table table-sm table-hover" id="tablaCronogramaCitasAtendidas">
  <thead></thead>
  <tfoot>
  <tr>
    <td class="p-1" colspan="6">Total</td>
    <td class="p-1 bg-indigo text-white text-center fw-bold">0</td>
    <td class="p-1 bg-indigo text-white text-center fw-bold">0</td>
    <td class="p-1 bg-indigo text-white text-center fw-bold">0</td>
    <td class="p-1 bg-indigo text-white text-center fw-bold">0</td>
    <td class="p-1 bg-indigo text-white text-center fw-bold">0</td>
    <td class="p-1 bg-indigo text-white text-center fw-bold">0</td>
    <td class="p-1 bg-indigo text-white text-center fw-bold">0</td>
    <td class="p-1 bg-indigo text-white text-center fw-bold">0</td>
    <td class="p-1 bg-indigo text-white text-center fw-bold">0</td>
    <td class="p-1 bg-indigo text-white text-center fw-bold">0</td>
    <td class="p-1 bg-indigo text-white text-center fw-bold">0</td>
    <td class="p-1 bg-indigo text-white text-center fw-bold">0</td>
    <td class="p-1 bg-indigo text-white text-center fw-bold">0</td>
    <td class="p-1 bg-indigo text-white text-center fw-bold">0</td>
    <td class="p-1 bg-indigo text-white text-center fw-bold">0</td>
  </tr>
  </tfoot>
</table>
