<ng-template #modalObservacion let-modal let-clore="close">
    <form [formGroup]="frmObservacion">

      <div class="modal-header card-header">
            <h5 class="modal-title">Observaciones al preferente</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
            </button>
      </div>

      <app-card [hidHeader]="true" [options]="false" cardClass="msg-card mb-0" blockClass="card-body msg-block">

        <div class="h-list-body">
            
              <perfect-scrollbar ngClass="datta-scroll" [style.max-width]="'100%'" [style.max-height]="'350px'" [usePSClass]="'datta'" [disabled]="null" [autoPropagation] ="true">
                <div class="msg-user-chat scroll-div">
                  <div class="main-friend-chat">


                    
                    <div *ngFor="let observacion of listaObservacionesDetalle.slice().reverse()" class="media chat-messages">

                      <div class="col-auto p-r-0" style="padding-right: 8px; padding-top: 3px;">
                          <h5 [placement]="'right'" [ngbTooltip]="observacion.usuarioRegistra" class="globo text-white d-flex align-items-center theme-bg2 justify-content-center">{{ observacion.inicialesUsuario  }}</h5>
                      </div>

                      <div class="media-body chat-menu-content">
                        <div class="">
                          <p class="chat-cont">{{ observacion.observacion }}</p>
                        </div>
                        <p class="chat-time">{{ observacion.fechaRegistra | date: formatoFecha }} &nbsp;
                          <i *ngIf="observacion.id == 0" (click)="observacionEliminar(observacion.fechaRegistra, observacion.observacion)" style="color: red;" class="feather icon-trash-2"></i>
                        </p>  
                       
                      </div>
                    </div>
                  </div>
                </div>
              </perfect-scrollbar>
          </div>
          <hr>
          <div class="msg-form">
            <div class="input-group mb-0">
              <input type="text" class="form-control msg-send-chat" formControlName="observacion" (keyup.enter)="agregarObservacion()" placeholder="Text . . .">
              
              <div class="input-group-append">
                <button class="btn btn-primary btn-icon btn-msg-send" type="button" (click)="agregarObservacion()"><i class="feather icon-play"></i></button>
              </div>
            </div>
          </div>
        
    </app-card>

    </form>
</ng-template>