



<div class="col-sm-12" style="padding: 0 !important;">
    <app-card [options]="false" [customHeader]="true" [hidHeader]="true">

      
      <ng-container *ngIf="idClienteElegido" >
      <div style="display: flex; align-items: center;">
        <h1 class="titulos" style="padding-left: 20px; padding-top: 0; color: #575757;">Filtros</h1>

        
        <button *ngIf="isSmallScreen && !mostrarFiltros" type="button" (click)="mostrarFiltrosMobile()" class="btn btn-primary" style="margin-left: 0.5rem ;padding-left: 0rem !important; padding-right: 0rem !important; padding-top: 0.5rem !important; padding-bottom: 0.3rem !important;"><i class="mdi mdi-arrow-right" style="display: flex;margin-left: 0.5rem; font-size: 1.3rem;"></i></button>
        <button *ngIf="isSmallScreen && mostrarFiltros" type="button" (click)="mostrarFiltrosMobile()" class="btn btn-primary" style="margin-left: 0.5rem ;padding-left: 0rem !important; padding-right: 0rem !important; padding-top: 0.5rem !important; padding-bottom: 0.3rem !important;"><i class="mdi mdi-arrow-down" style="display: flex;margin-left: 0.5rem; font-size: 1.3rem;"></i></button>

        
        <i class="feather icon-filter" style="margin-left: 0.5rem; font-size: 1.3rem; padding-bottom: 0.5rem;"></i>

      </div>
      
      <div style="padding-left: 1rem; margin-bottom: 1rem;">
        <button [ngStyle]="filtrarPendientes ? {'background-color': '#04a9f5', 'color': 'white'} : {}" (click)="filtrarPorPendienteOAtendida('Pendiente')" style="padding: .25rem 0.5rem !important;" class="btn btn-sm btn-outline-primary mr-2 ml-2"  >Pendientes</button>
        <button [ngStyle]="filtrarAtendidas ? {'background-color': '#28a745', 'color': 'white'} : {}" (click)="filtrarPorPendienteOAtendida('Realizada')" style="padding: .25rem 0.5rem !important;" class="btn btn-sm btn-outline-relizadas mr-2 " >Realizadas</button>
        <button [ngStyle]="!filtrarAtendidas && !filtrarPendientes ? {'background-color': 'black', 'color': 'white'} : {}" (click)="togglePanelYActualizarEstado('toggle-1')" style="padding: .25rem 0.5rem !important; color: black !important; border-color: black !important;" class="btn btn-sm btn-outline-todos mr-2" >Todas</button>
      </div>

      




        <div class="contenedor-filtros contenedor-filtros-dos" style="justify-content: normal; margin-bottom: 0.8rem;" *ngIf="mostrarFiltros">
          <div class="contenedor-filtros-izquierda" style="flex-wrap: wrap !important;">
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Sede</mat-label>
              <mat-select [disabled]="!idClienteElegido" [(ngModel)]="sedeSeleccionada" (selectionChange)="applyFilterFiltros()">
                <mat-option [value]="0">Todos</mat-option>
                <mat-option *ngFor="let sede of collectionSede" [value]="sede.id">{{ sede.nombre }}</mat-option>
              </mat-select>
            </mat-form-field>
            
  
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Tipo de Cliente</mat-label>
              <mat-select [disabled]="!idClienteElegido"  [(ngModel)]="clienteSeleccionado" (selectionChange)="applyFilterFiltros()">
                <mat-option [value]="0">Todos</mat-option>
                <mat-option *ngFor="let tipoCliente of listadoTipoCliente" [value]="tipoCliente.idTipoCliente">{{ tipoCliente.tipoCliente }}</mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field appearance="outline"  class="form-field">
              <mat-label>Tipo de Cita</mat-label>
              <mat-select [disabled]="!idClienteElegido"  [(ngModel)]="tipoCitaSeleccionada" (selectionChange)="applyFilterFiltros()">
                <mat-option [value]="0">Todos</mat-option>
                <mat-option *ngFor="let tipoCita of listadoTipoCita" [value]="tipoCita.id">{{ tipoCita.nombre }}</mat-option>
              </mat-select>
            </mat-form-field>
            
            <mat-form-field appearance="outline"  class="form-field">
              <mat-label>Estado de Cita</mat-label>
              <mat-select [disabled]="!idClienteElegido"  [(ngModel)]="estadoSeleccionado" (selectionChange)="applyFilterFiltros()">
                <mat-option [value]="0">Todos</mat-option>
                <mat-option *ngFor="let estado of citaEstados" [value]="estado.id">{{ estado.descripcion }}</mat-option>
              </mat-select>
            </mat-form-field>
    
            <mat-form-field appearance="outline"  class="form-field" hidden>
              <mat-label>Servicio</mat-label>
              <mat-select [disabled]="!idClienteElegido"  [(ngModel)]="servicioSeleccionado" (selectionChange)="elegirServicio()">
                <mat-option [value]="0">Todos</mat-option>
                <mat-option *ngFor="let servicio of listaServicios" [value]="servicio.id">{{ servicio.nombre }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="!esListadoGlobal" (click)="picker.open()" appearance="outline"  class="form-field">
              <mat-label>Filtro por Fecha</mat-label>
              <input [(ngModel)]="fechaFiltro" (dateChange)="applyFilterFiltros()" style="cursor: pointer !important;" readonly matDatepickerToggleIcon matInput [matDatepicker]="picker"  />
              <mat-datepicker-toggle matSuffix [for]="picker">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field *ngIf="esListadoGlobal" (click)="picker.open()" appearance="outline"  class="form-field">
              <mat-label>Filtro por Fecha</mat-label>
              <input [(ngModel)]="fechaFiltro" (dateChange)="obtenerTodasLasCitas()" style="cursor: pointer !important;" readonly matDatepickerToggleIcon matInput [matDatepicker]="picker"  />
              <mat-datepicker-toggle matSuffix [for]="picker">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <div style="display: flex; gap: 1.2rem; padding-top: 0.5rem;" class="form-field">
              <div class="mb-2" style="width: 100%;" >
                <div class="form-floating form-start-icon">
                  <input id="horaDesde" type="time" placeholder=" "  [(ngModel)]="horaDesde" class="form-control" (change)="applyFilterFiltros()" >
                  <label for="horaDesde">Hora desde</label>
                  <span class="icon"><span class="dicon o-clock m-auto"></span></span>
                </div>
              </div>
              <div class="mb-2" style="width: 100%;" [ngClass]="{'hora-deshabilitada': !horaDesde}">
                <div class="form-floating form-start-icon">
                  <input id="horaHasta" type="time" placeholder=" " [(ngModel)]="horaHasta" class="form-control" (change)="applyFilterFiltros()" >
                  <label for="horaHasta">Hora hasta</label>
                  <span class="icon"><span class="dicon o-clock m-auto"></span></span>
                </div>
              </div>
            </div>

            </div>

          <button style="margin-left: 0.8rem; height: 46px;" ngbTooltip="Eliminar los filtros." (click)="limpiarFiltrosButton()" type="button" class="btn btn-light limpiar-filtros-button">Limpiar</button>
          <div>
  
          </div>
        </div>
        
        <div style="display: flex; flex-wrap: wrap; padding-left: 18px;">

          <h1  [ngClass]="{'titulo-cliente-ccvox-active': idClienteElegido === clienteCcvox.id}" (click)="obtenerCitasPorClienteCcvox(clienteCcvox.id)" *ngFor="let clienteCcvox of listadoClientesCcvox; let i = index" 
              class="titulos titulo-cliente-ccvox" 
>                     <ng-container *ngIf="i > 0"> /</ng-container>
            {{ clienteCcvox.nombreCliente }}

          </h1>
        </div>
        

          <h1 class="titulos" style="padding-left: 20px; color: #575757; font-size: 1.2rem !important; margin-top: 1.8rem;">Ultimas Citas 
            <span  style="margin-right: 0.2rem;" *ngIf="nombreClienteElegido.length > 0 && !isSmallScreen">{{'(' + nombreClienteElegido+ ')'}}</span> 
            <span style="padding: 6px 10px; font-size: 12px;" *ngIf="esNuevoCliente === 'Nuevo'" class="badge badge-pill badge-success">{{esNuevoCliente}}</span>
            <span style="padding: 6px 10px; font-size: 12px; background-color: #0036ff;" *ngIf="esNuevoCliente === 'No Nuevo'" class="badge badge-pill badge-danger">{{esNuevoCliente}}</span>
            
                    
            <span style="padding: 6px 10px; font-size: 12px; background-color: #0036ff;" *ngIf="esListadoGlobal" class="badge badge-pill badge-danger">{{dataSourceControl.data.length + ' citas'}}</span>
            <span *ngIf="currentIdServicio > 0" style="padding: 6px 10px; font-size: 12px; color: white; background-color: #252525 !important;" class="badge badge-pill badge-warning ml-2">{{dataSourceControl.data[0].idServicio | tiposFiltrosCliente:'tipoServicio':listaServicios}}  </span> 

          </h1>

        <div class="table-container" >
          <table mat-table matSort  [dataSource]="dataSourceControl">
            <ng-container matColumnDef="carta">
              <th class="es-desktop-none" mat-header-cell *matHeaderCellDef>  </th>
              <td  class="contenido-tabla-c es-desktop-none" style="padding-left: 0 !important;" mat-cell *matCellDef="let element"  > 
                <div [ngClass]="{'cita-selected-m': element.idCita === citaSelected?.idCita}" >

                  <div class="header-c-mobile">

                    <i ngbTooltip="Ver Perfil del Cliente" class="mdi mdi-account usericon-c-mobile"></i>
  
                    <div  >
                      <h3 class="h3-c-mobile text-white">{{element.nombreCliente}}</h3>
                      
                      <div class="d-flex">
                        <span class="text-12px">{{element.idTipoCliente | tiposFiltrosCliente:'tipoCliente':listadoTipoCliente}} - CI-{{element.idCita}}</span>
                        <p class="ml-2 estado-c-mobile">
                          {{element.precioDePagoFinal != null && !element.idTipoPago ? 'Pagado' : (element.idTipoPago | pip_tipodepago)}}
                        </p>
                      </div>
                    </div>
                    
                    <app-btn-confirmar-pago (click)="$event.stopPropagation()" [botonTipo]="'mobile'" [element]="element" [nombreClienteElegido]="nombreClienteElegido" (pagoFinalSuccess)="obtenerCitasDeCliente(idClienteElegido)"></app-btn-confirmar-pago>

                  </div> 
  
                  <div class="general-container-c">
                    <div class="info-p-2-container-c">
    
                      <div class="info-2-container-c">
                        <h3 class="h3-c-mobile">Servicio:</h3>
                        <span [ngStyle]="{'background-color': getColorPorServicioDeCita(element.idServicio)}" class="span-c badge badge-pill badge-success">{{element.idServicio | tiposFiltrosCliente:'tipoServicio':listaServicios}} </span>
                        
                        <h3 class="h3-c-mobile">Estado:</h3>
                        <span 
                          [ngStyle]="{'background-color': getColorPorEstadoDeCita(element.idEstado)}" 
                          class="span-c badge badge-pill badge-success">
                          {{element.idEstado | tiposFiltrosCliente:'estadoCita':citaEstados}}
                        </span>     
                        
                        
                      </div>
    
                      <div class="info-2-container-c ps-2  pl-3-c">
                        <h3 class="h3-c-mobile">Tipo Cita:</h3>
                        <span class="fs-6 mb-1 fw-bold-c">{{element.idTipoCita | tiposFiltrosCliente:'tipoCita':listadoTipoCita}} </span>
    
                        
                        <h3 class="h3-c-mobile">Sede:</h3>
                        <span class="fs-6 fw-bold-c" >{{element.idSede | tiposFiltrosCliente:'tipoSede':collectionSede}}</span>
    
                        
                      </div>
                    </div>
                    <div class="info-p-container-c">
                      <div class="info-container-c">
                          <h3 class="h3-c-mobile mr-02rem">Monto:</h3>
                          <span class="fs-6 mb-1 fw-bold-c"> {{ "S/. " + element.total.toFixed(2)}} </span>
                      </div>
    
                      <div class="info-container-c">
                          <h3 class="h3-c-mobile mr-02rem">Pago Final:</h3>
                          <span class="fs-6 mb-1 fw-bold-c"> {{ element.precioDePagoFinal !== null ? "S/. " + element.precioDePagoFinal.toFixed(2) : "S/. " + 0}}</span>                  
                      </div>
                    </div>
    
                    <div class="info-p-container-c">
                      <div class="info-container-c">
                          <h3 class="h3-c-mobile mr-02rem">Fecha:</h3>
                          <span class="fs-6 mb-1 fw-bold-c"> {{ element.fechaCita}} </span>
                      </div>
    
                      <div class="info-container-c">
                          <h3 class="h3-c-mobile mr-02rem">Hora:</h3>
                          <span class="fs-6 mb-1 -c">{{ element.horaInicio | date: 'HH:mm' }} - {{ element.horaTermino | date: 'HH:mm' }}</span>                  
                      </div>
                    </div>
    
                  </div>
                  <div style="padding: 0px;">
                    <h3 class="zonas-list-h3">ZONAS:</h3>
  
                    <ol class="card--zonas zonas-list-c">
                      <li class="zona-list-li" *ngFor="let zona of element.zonas">{{zona}}</li>
                    </ol>
                  </div>

                </div>

              </td>
            </ng-container>
  
            <ng-container matColumnDef="id_cita"> 
              <th class="es-mobile-none" mat-header-cell *matHeaderCellDef></th>
              <td   class="es-mobile-none contenido-tabla-perfil" mat-cell *matCellDef="let element" > 
                <div style="display: flex;">
                  

                  <app-btn-confirmar-pago (click)="$event.stopPropagation()" [botonTipo]="'desktop'" [element]="element" [nombreClienteElegido]="nombreClienteElegido" (pagoFinalSuccess)="obtenerCitasDeCliente(idClienteElegido)"></app-btn-confirmar-pago>

                  <div class="mostrar-detalle" (click)="mostrarCitaDetalle(element); $event.stopPropagation()" style="cursor: pointer; display: flex; margin-left: 0.6rem; padding-top: 0.2rem;">
                    <i ngbTooltip="Ver Cita"  class="mdi mdi-file-document-outline" style="display: flex;font-size: 36px !important; height: 38px;"></i>
                    <p style="margin-bottom: 0 !important; font-weight: 600;">CI-{{element.idCita}}</p>
                  </div> 
  
                </div>
              </td>
            </ng-container>
          
            <ng-container matColumnDef="id_sede"> idCita
              <th class="es-mobile-none" mat-header-cell *matHeaderCellDef> Sede </th>
              <td  class="es-mobile-none contenido-tabla-perfil" mat-cell *matCellDef="let element"  > {{element.idSede | tiposFiltrosCliente:'tipoSede':collectionSede}} </td>
            </ng-container>
          
            <ng-container matColumnDef="id_tipo_cliente">
              <th class="es-mobile-none" mat-header-cell *matHeaderCellDef> Tipo de Cliente </th>
              <td class="es-mobile-none contenido-tabla-perfil" mat-cell  *matCellDef="let element">
                 <span *ngIf="element.idTipoCliente === 1" style="padding: 6px 10px; font-size: 12px; color: white;" class="badge badge-pill badge-warning">{{element.idTipoCliente | tiposFiltrosCliente:'tipoCliente':listadoTipoCliente}} </span>
                 <p *ngIf="element.idTipoCliente !== 1" style="margin-bottom: 0 !important;">{{element.idTipoCliente | tiposFiltrosCliente:'tipoCliente':listadoTipoCliente}}</p>
              </td>
            </ng-container>
  
            <ng-container matColumnDef="id_tipo_cita">
              <th class="es-mobile-none" mat-header-cell *matHeaderCellDef> Tipo de Cita </th>
              <td class="es-mobile-none contenido-tabla-perfil" mat-cell  *matCellDef="let element"> 
                {{element.idTipoCita | tiposFiltrosCliente:'tipoCita':listadoTipoCita}} 
              </td>
            </ng-container>

            <ng-container matColumnDef="resumen">
              <th class="es-mobile-none" mat-header-cell *matHeaderCellDef> Resumen </th>
              <td class="es-mobile-none contenido-tabla-perfil" mat-cell  *matCellDef="let element"> 
                <ol style="list-style-type: decimal; font-weight: bold;" class="card--zonas">
                    <li *ngFor="let zona of element.zonas">{{zona}}</li>
                </ol>
              </td>
            </ng-container>
    
            <ng-container matColumnDef="fecha_de_cita">
              <th class="es-mobile-none" mat-header-cell *matHeaderCellDef> Fecha y Hora </th>
              <td class="es-mobile-none contenido-tabla-perfil" mat-cell   *matCellDef="let element">
                <div>
                  <h6 style="margin-left: 0.3rem;">{{element.fechaCita}}</h6>
                  <div>
                    {{ element.horaInicio | date: 'HH:mm' }} - {{ element.horaTermino | date: 'HH:mm' }}

                  </div>
                </div>
                  
              </td>
            </ng-container>
  
            <ng-container matColumnDef="total">
              <th class="es-mobile-none" mat-header-cell *matHeaderCellDef> Monto Total </th>
              <td class="es-mobile-none contenido-tabla-perfil" mat-cell *matCellDef="let element"> {{ "S/. " + element.total.toFixed(2)}} </td>
            </ng-container>
  
            <ng-container matColumnDef="id_servicio"  >
              <th class="es-mobile-none" mat-header-cell *matHeaderCellDef> Servicio </th>
              <td class="es-mobile-none contenido-tabla-perfil" mat-cell *matCellDef="let element">
                <span [ngStyle]="{'background-color': getColorPorServicioDeCita(element.idServicio)}"  style="padding: 6px 10px; font-size: 12px; color: white;" class="badge badge-pill badge-warning">{{element.idServicio | tiposFiltrosCliente:'tipoServicio':listaServicios}}  </span> 
              </td>
            </ng-container>

            <ng-container matColumnDef="pago_final">
              <th class="es-mobile-none" mat-header-cell *matHeaderCellDef> Pago Final </th>
              <td class="es-mobile-none contenido-tabla-perfil" mat-cell *matCellDef="let element"> {{ element.precioDePagoFinal !== null ? "S/. " + element.precioDePagoFinal.toFixed(2) : "S/. " + 0}} </td>
            </ng-container>
  
            <ng-container matColumnDef="acciones">
              <th class="es-mobile-none" mat-header-cell *matHeaderCellDef> Acciones </th>
              <td class="es-mobile-none contenido-tabla-perfil" mat-cell *matCellDef="let element" style="width: 200px !important;">
                <!-- <button style="width: 120px !important;" *ngIf="(usuarioActual.idperfil === 4 || usuarioActual.idperfil === 7 || usuarioActual.idperfil === 9 || usuarioActual.idperfil === 16 || usuarioActual.idperfil === 6 || usuarioActual.idperfil === 8)" (click)="openModalConfirm(element.idCita, element.total, element.precioDePagoFinal)" [ngClass]="{'btn-c-purple': element.precioDePagoFinal != null}" ngbTooltip="Confirmar Pago" type="button" class="btn btn-light">{{element.precioDePagoFinal != null ? 'Pagado' : 'Por Pagar'}}</button> -->
              </td>
            </ng-container>

            <ng-container matColumnDef="clienteNuevo">
              <th class="es-mobile-none" mat-header-cell *matHeaderCellDef > {{esListadoGlobal ? 'Nuevo' : ''}} </th>
              <td class="es-mobile-none contenido-tabla-perfil" mat-cell *matCellDef="let element"> {{esListadoGlobal ? element.clienteNuevo : ''}} </td>
            </ng-container>

            <ng-container matColumnDef="nombre_cliente">
              <th class="es-mobile-none" mat-header-cell *matHeaderCellDef > {{esListadoGlobal ? 'Nombre' : ''}} </th>
              <td class="es-mobile-none contenido-tabla-perfil" mat-cell *matCellDef="let element"> {{esListadoGlobal ? element.nombreCliente : ''}} </td>
            </ng-container>
            
          
            <ng-container matColumnDef="id_estado">
              <th class="es-mobile-none" mat-header-cell *matHeaderCellDef> Estado de Cita </th>
              <td class="es-mobile-none contenido-tabla-perfil" mat-cell *matCellDef="let element"  >
                <span style="padding: 6px 10px; font-size: 12px;"  [ngStyle]="{'background-color': getColorPorEstadoDeCita(element.idEstado)}" class="badge badge-pill badge-success">{{element.idEstado | tiposFiltrosCliente:'estadoCita':citaEstados}}</span>
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumnsControlCitas"></tr>
            <tr class="fila-tabla" [ngClass]="{'fondo-cliente-especial': row.idTipoCliente === 1}" (click)="testModal(row)" mat-row *matRowDef="let row; columns: displayedColumnsControlCitas;"></tr>
          </table>
        
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]" [pageSize]="pageSize" (page)="onPageChanged($event)"  [pageIndex]="pageIndex" showFirstLastButtons></mat-paginator>
        <mat-divider></mat-divider>
      </ng-container>


  
  
    </app-card>
  
  
  </div>


<div class="col-sm-12" style="padding: 0 !important;" *ngIf="currentIdServicio > 0">
  <app-card [options]="false" [customHeader]="true" [hidHeader]="true">

    <button type="button" (click)="abrirModalFinanciamientoDesdePadre()" class="btn btn-primary mb-2" ><i class="mdi mdi-cash-multiple"></i>Financiamiento | Cuotas</button>
    <button type="button" (click)="abrirModalHistoriaClinicaDesdePadre()" class="btn btn-primary mb-2"  [placement]="'top'" ngbTooltip="Historia Clínica"><i class="mdi mdi-clipboard-text-outline"></i>Historia Clínica</button>
    <button type="button" (click)="abrirModalDocumentosEmitidosDesdePadre()" class="btn btn-primary mb-2"  [placement]="'top'" ngbTooltip="Documentos Emitidos"><i class="mdi mdi-folder-star-outline"></i>Documentos Emitidos</button>
    <button type="button" (click)="abrirModalDocumentosAnuladosDesdePadre()" class="btn btn-primary mb-2"  [placement]="'top'" ngbTooltip="Documentos Anulados"><i class="mdi mdi-folder-remove-outline"></i>Documentos Anulados</button>
    <button type="button" (click)="abrirModalResumenDeContratosDesdePadre()" class="btn btn-primary mb-2"  [placement]="'top'" ngbTooltip="Resumen de Contratos"><i class="mdi mdi-tab "></i>Resumen de Contratos</button>
    <button type="button" (click)="abrirModalEvolucionDeTratamientoDesdePadre()" class="btn btn-primary mb-2"  [placement]="'top'" ngbTooltip="Evolución Tratamiento"><i class="mdi mdi-chart-line"></i>Evolución Tratamiento</button>
    <button type="button" (click)="abrirModalHistorialDesdePadre()" class="btn btn-primary mb-2"  ><i class="mdi mdi-history"></i>Historial de Seguimiento de Cita</button>
  </app-card>
</div>

<ngb-accordion #acc="ngbAccordion"  *ngIf="currentIdServicio > 0" >

  <ngb-panel id="toggle-1">
    <ng-template ngbPanelTitle>
      
      Versión Antigua <i class="mdi mdi-chevron-down"></i>
    </ng-template>

    <ng-template ngbPanelContent>
      <app-cliente-perfil-global [idCliente]="idClientePerfil"></app-cliente-perfil-global>
    </ng-template>
  </ngb-panel>
</ngb-accordion>


<!-- MODAL DE OPCIONES DE CITA -->
<app-ui-modal #mdlOpcionesCitas dialogClass="modal-dialog-centered" hideFooter="true">
  <div class="app-modal-header">
    <h5 class="modal-title">Opciones de cita</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="mdlOpcionesCitas.hide()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="app-modal-body">
    <div class="form-row">
      <div [class.col-4]="citaSelected?.idEstado !== 7 && citaSelected?.idEstado !== 82"[class.col-12]="citaSelected?.idEstado === 7 || citaSelected?.idEstado === 82">
        <button id="btnCitaVisualizar" type="button" class="btn btn-outline-primary w-100 m-0" [placement]="'bottom'" ngbTooltip="Ver"           (click)= "citaVisualizar(); mdlOpcionesCitas.hide()">    <i class="fa fa-search"></i>Ver</button>
      </div>
      <div *ngIf="citaSelected?.idEstado !== 7 && citaSelected?.idEstado !== 82" class="col-4">
        <button id="btnCitaAtender" type="button" class="btn btn-outline-primary w-100 m-0" [placement]="'bottom'" ngbTooltip="Atender"       (click)= "citaAtender(); mdlOpcionesCitas.hide()">       <i class="far fa-hand-point-up"></i>Atender</button>
      </div>
      <div *ngIf="citaSelected?.idEstado !== 7 && citaSelected?.idEstado !== 82" class="col-4">
        <button id="btnCitaEditar" type="button" class="btn btn-outline-primary w-100 m-0" [placement]="'bottom'" ngbTooltip="Editar"   (click)= "citaEditar(); mdlOpcionesCitas.hide()">   <i class="mdi mdi-square-edit-outline"></i>Editar</button>
      </div>
    </div>
  </div>
</app-ui-modal>