 
.form-check-input {
    width: 20px;
    height: 20px;
  }
    
    .filter-input{
      font-size:16px;
      padding:5px;
      border-radius:3px;
      border:2px solid #ccc;
      margin-bottom:5px;
      padding-right: 20px;
      outline: none;
    }
    .filter-clear{
      position: relative;
      margin-left: -24px;
      margin-top: 6px;
      cursor:pointer;
    }
    .clear-selection {
        font-size: 12px;
        font-weight: bold;
        color: red;
        cursor: pointer;
        position: absolute;
    }
    .zonas-seleccionadas {
        display: inline-block;
        margin-right: 15px;
        font-size: 14px;
        background: #B9CFEA;
        margin-bottom: 10px;
        padding: 2px 11px 4px 11px;
        border-radius: 8px;
    }
    
    .zona-eliminar{
        font-size: 13px;
        padding: 3px 6px;
        vertical-align:middle;
        cursor:pointer;
    }
    .zona-eliminar:hover{
        background: #99ABC1;
        padding: 3px 6px;
        border-radius: 15px;
    }
  
  
  
  
  
      
  // SCROLL VERTICAL
  .lista-zonas{
    border-radius: 4px;
    border: 1px solid #ced4da;
    display:block;
    height:350px;
    overflow:auto;
  }
  //STILO DE SCROLL VERTICAL
  ::-webkit-scrollbar {
    width: 6px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #04a9f5;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  }
  ::-webkit-scrollbar-thumb:window-inactive {
    background: #04a9f5;
  }