<div class="qa-overlay">
    <div class="unauthorized-container">
        <img src="assets/images/equipo.jpg" alt="Acceso Denegado" class="unauthorized-image">
        <h1>Necesitamos tu Apoyo</h1>
        <p>Debes ir al ambiente de Pruebas.</p>   
        
        <div class="alert-box palpitar">
            <i class="mdi mdi-alert"></i> Ir a QA!
            <button (click)="redirigirQa()" type="button" class="btn btn-primary">
                Aquí
            </button>
        </div>
    </div>
</div>