
<!-- FORMULARIO -->
<div class="modal-content">

    <div class="modal-header card-header">
        <h5 class="modal-title">Buscar cliente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()"><span aria-hidden="true">&times;</span></button>
    </div>

    <div class="modal-body card-body">

        <div class="col-lg-12 col-md-12">
            <div class="h-list-header m-b-5">
            <div class="input-group">
                <input type="text" id="msg-friends" class="form-control" [formControl]="search" placeholder="Buscar por telefono, dni o nombre . . ." (keyup.enter)="buscarCliente()">
                <div class="input-group-append">
                <span class="input-group-text cursor-pointer" (click)="buscarCliente()"><i class='feather icon-search'></i></span>
                <span class="input-group-text" (click)="limpiar()"><i class='feather icon-delete'></i></span>
                </div>
            </div>
            </div>
            <div class="h-list-body">
            <div class="msg-user-list scroll-div">

                <div *ngIf="!_collection.value.length && !loading">
                  No se encontro registros...
                </div>
                <div *ngIf="loading">
                  Buscando...
                </div>
                <div *ngIf="!loading" class="main-friend-list">
                  <perfect-scrollbar ngClass="datta-scroll" [style.max-width]="'100%'" [style.max-height]="'calc(100vh - 300px)'" [usePSClass]="'datta'" [disabled]="null" [autoPropagation] ="true">
                      <div id="cliente-lista" *ngFor="let cliente of _collection | async; let i = index" class="media userlist-box"
                          (click)="seleccionarCliente(cliente)"
                          (dblclick)="devolverCliente(cliente)">
                          <a class="media-left" href="javascript:">
                              <div class="imgNulled"><i class="feather icon-user"></i></div>
                          </a>
                          <div class="media-body">
                              <h6 class="chat-header" style="color: rgb(62, 50, 230);">
                                  {{cliente.nombres}} {{cliente.apellidos}}
                                  <small class="d-block" style="color: green;">{{cliente.documento}}</small>
                              </h6>
                          </div>
                      </div>
                  </perfect-scrollbar>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
