<div class="modal-header card-header bg-gradient border-bottom-0">
  <h2 class="d-flex align-middle">
    <div class="my-auto">
      <h2 class="mb-0 fs-18px f-w-500 text-white">Citas del cliente : {{ Cliente.nombres }} <span class="py-1 px-3 rounded text-white fw-semibold" style="background-color: {{ Cliente.estadoColor }}">{{ Cliente.estado }}</span></h2>
    </div>
  </h2>
  <button class="btn sbtn btn-sm btn-icon btn-active-color-primary h-auto w-auto p-0" (click)="modal.close(false)">
    <span class="svg-icon svg-icon-1 text-white">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
        <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
      </svg>
    </span>
  </button>
</div>

<div class="modal-body card-body">

  <button matRipple class="btn btn-sm btn-indigo rounded-md d-flex align-items-center position-relative ps-45px mb-3" (click)="evtReload()">
    <span class="rounded-md bg-white text-indigo w-30px h-30px top-0 bottom-0 my-auto position-absolute start-2px d-flex"><i class="fa-duotone fa-arrows-rotate m-auto fs-18px"></i></span>
    <span>Actualizar</span>
  </button>

  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <div class="table-responsive">
    <table datatable [dtOptions]="optionsDtPreferentes" class="table-cita table table-sm table-sm table-hover display compact"></table>
  </div>
</div>
<div class="modal-footer">
  <button matRipple class="btn btn-indigo " (click)="evtOnSaved()">Guardar</button>
</div>
