.lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(60, 60, 60, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.lightbox-img {
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 10px;
  box-shadow: 0 0 24px #222;
  background: white;
}