<div class="auth-wrapper">
  <div class="auth-content text-center">
    <div class="card border-0 shadow-lg">
      <div class="card-body">
        <div class="mb-4">
          <i
            class="feather icon-shield text-warning"
            style="font-size: 4rem"
          ></i>
        </div>
        <h4 class="mb-3 f-w-400">Verificación de Usuario</h4>
        <p class="text-muted mb-4">
          Su cuenta necesita ser verificada por un supervisor.
        </p>
        <div class="text-center my-4">
          <a
            href="/"
            class="text-primary"
            style="text-decoration: underline; font-size: 0.95rem"
          >
            <i class="feather icon-home mr-1" style="font-size: 0.9rem"></i>
            Volver al inicio
          </a>
        </div>
        <div class="alert alert-info" role="alert">
          <i class="feather icon-info mr-2"></i>
          Gracias por colaborar.
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal de Confirmar Supervisor -->
<ng-template #modalConfirmarSupervisor let-modal let-close="close">
  <app-mdl-confirmar-supervisor [modal]="modal"></app-mdl-confirmar-supervisor>
</ng-template>

<!-- Modal de Estado de Solicitud -->
<ng-template #solicitudEnviadaModal let-modal let-close="close">
  <app-mdl-estado-solicitud-supervisor
    [estadoDeAprobacion]="estadoAprobacionUsuarioActual"
    [modal]="modal"
  >
  </app-mdl-estado-solicitud-supervisor>
</ng-template>
