<div class="row">
  <div class="col-12 col-lg-8">
    <div #chartBar class="chartBar"></div>
  </div>
  <div class="col-12 col-lg-4">
    <div #charPie class="chartPie"></div>
  </div>
</div>
<div #legend class="form-row legend-group">
  <div class="col-12 text-center">
    <div class="border rounded mx-auto d-inline-block px-2 py-1 mb-2 shadow-sm">Leyenda</div>
  </div>

  <div *ngFor="let leg of legends" class="col-12 col-md-6 mb-2">
    <div class="d-flex justify-content-between border rounded p-2 h1 item-legend h-100" [title]="leg.text" (click)="toggleActive(leg.index)">
      <p class="mb-0 my-auto w-100 d-flex align-items-center text-dark"><i class="mdi mdi-square-rounded mr-2 h2 my-auto d-inline-flex" [style]="'color:'+ (leg.active ? '#d2d1d1' : leg.fill)"></i>{{ leg.text }}</p>
      <p class="text-dark mb-0 font-weight-bold my-auto">{{ leg.value }}</p>
    </div>
  </div>

</div>
