<app-card [customHeader]="false" [options]="true" [collapse]="true" [excel]="true" (excelCallback)="exportarExcel()" cardTitle="Total promoción ranking atendidos por sede">

  <mat-progress-bar mode="indeterminate" id="progress" *ngIf="loading"></mat-progress-bar>

  <div class="form-row">
    <div class="table-container col-12 col-md-12 col-lg-8 mb-2">
      <div class="border rounded p-2 h-100">
        <table id="table10TopZonas" datatable [dtOptions]="dtResponsiveOptions" class="table table-sm table-hover display compact"></table>
      </div>
    </div>
    <div class="col-12 col-md-12 col-lg-4 mb-2">
      <div id="chartPromocionAtendidosRankingTotalSede" class="border rounded"></div>
    </div>
    <div class="col-12 col-md-12">
      <div id="chartPromocionAtendidosRankingTotal" class="border rounded"></div>
    </div>
  </div>

</app-card>
