
<form [formGroup]="frmGroup" (ngSubmit)="onSubmit()">
    <div class="modal-content">
        <div class="modal-header card-header bg-gradient">
          <h5 class="card-title text-white f-w-500 m-0">{{ data ? 'Editar' : 'Nueva' }} Zona Tratamiento</h5>
          <button type="button" class="btn sbtn btn-sm btn-icon btn-active-color-primary h-auto w-auto p-0" (click)="cerrarModal(false)">
                <span class="svg-icon svg-icon-1 text-white">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
                    <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
                  </svg>
                </span>
          </button>
        </div>
        <div class="modal-body card-body p-4">
            <div class="form-group popins">
              <label class="fw-semibold text-gray-800 required mb-0">Nombre </label>
              <input type="text" maxlength="150" class="form-control form-control-solid" formControlName="nombre" [ngClass]="{ 'bg-color-light-danger': submitted && f.nombre.errors }">
              <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback d-block">
                <div *ngIf="f.nombre.errors.required">Ingresar el nombre de la tecnología</div>
              </div>
            </div>


          <div class="form-group popins">
            <label class="fw-semibold text-gray-800">Descripción </label>
            <textarea type="text" maxlength="150" class="form-control form-control-solid" formControlName="descripcion"></textarea>
          </div>


            <div class="form-group popins">
              <label class="fw-semibold text-gray-800 required">Servicio</label>
              <select class="form-select form-select-solid" formControlName="idServicio" [ngClass]="{ 'bg-color-light-danger': submitted && f.idServicio.errors }">
                <option value="">...Seleccionar...</option>
                <option *ngFor="let serv of servicios" [value]="serv.id">{{ serv.nombre }}</option>
              </select>
              <div *ngIf="submitted && f.idServicio.errors" class="invalid-feedback d-block">
                <div *ngIf="f.idServicio.errors.required">Seleccionar un servicio</div>
              </div>
            </div>

          <div class="form-group popins">
            <label class="fw-semibold text-gray-800 required">Estado</label>
            <select class="form-select form-select-solid" id="idEstado" formControlName="idEstado" [ngClass]="{ 'bg-color-light-danger': submitted && f.idEstado.errors }">
              <option *ngFor="let est of estados" [value]="est.id">{{ est.value }}</option>
            </select>
          </div>
        </div>

      <div class="modal-footer bg-white py-3">
        <div class="form-row float-right">
          <button matRipple [disabled]="loading" type="reset" class="btn sbtn btn-light mr-2" (click)="cerrarModal()">Cancelar</button>
          <button matRipple type="submit" class="btn sbtn btn-primary shadow btn-shadow-primary" >Guardar</button>
        </div>
      </div>



    </div>
</form>
