#progress{
  position: absolute;
  top: 0;
  left: 0;
}
#chartPromocionRankingTotal{
  width: 100%;
  height: 200px
}
#chartPromocionRankingTotalSede{
  width: 100%;
  min-height: 400px;
  height: 100%;
}
