.dtr-details{
  width: 100% !important;
}


/* modal animation */
.modal-content{
  animation-name: example;
  animation-duration: 0.3s;
}

@keyframes example {
  0%   {transform: scale(0.5)}
  75%  {transform: scale(1.1)}
  100% {transform: scale(1)}
}


::ng-deep .select2-container{
  z-index: 9999 !important;
}

.my-footer--buttons{
  position: fixed;
  bottom: 10px;
  right: 50px;
  list-style: none;
  padding-left: 0px;
  z-index: 999;
  margin: 0;
  transition: right 0.25s ease-in-out;
  display: flex;
  flex-direction: column;
}