<div class="row">
  <div class="col-sm-12 popins">
    <app-card cardTitle="REPORTE DE PREFERENTES - REDES" [options]="false" [hidBlock]="false">

      <form [formGroup]="formGroup">
        <div class="form-row">
          <div class="col-12 col-md-6 col-lg-3 mb-3">
            <label class="fw-semibold text-gray-800 required mb-0 ">Fecha Desde</label>
            <div class="position-relative">
              <fontawesome-svg class="position-absolute ps-13px pt-2 no-pointer-events" icon="calendar-day" type="light-alt" [width]="24" [height]="24"></fontawesome-svg>
              <input
              type="text"
              mwlFlatpickr
              [altInput]="true"
              [convertModelValue]="true"
              [altFormat]="'d/m/Y'"
              dateFormat="Y-m-d"
              class="form-control form-control-solid form-control-sm ps-48px"
              placeholder="dd/mm/yyyy"
              formControlName="fechaDesde"
              readonly
            />
          </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 mb-3">
            <label class="fw-semibold text-gray-800 required mb-0">Fecha Hasta</label>
            <div class="position-relative">
              <fontawesome-svg class="position-absolute ps-13px pt-2 no-pointer-events" icon="calendar-day" type="light-alt" [width]="24" [height]="24"></fontawesome-svg>
              <input
              type="text"
              mwlFlatpickr
              [altInput]="true"
              [convertModelValue]="true"
              [altFormat]="'d/m/Y'"
              dateFormat="Y-m-d"
              class="form-control form-control-solid form-control-sm ps-48px"
              placeholder="dd/mm/yyyy"
              formControlName="fechaHasta"
              readonly
            />
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 mb-3">
            <label class="fw-semibold text-gray-800 required mb-0">Medio Contacto</label>
            <select formControlName="idMedioContacto" class="form-select form-select-sm form-control-solid">
              <option [value]="0">TODOS</option>
              <option *ngFor="let m of mediosContacto" [value]="m.id">{{ m.nombre }}</option>
            </select>
          </div>
        </div>
      </form>


    </app-card>
  </div>
</div>


<div class="form-row popins">
  <div class="col-12 col-lg-4 mb-3">
    <div class="card card-customer rounded mb-0">
      <div class="card-block px-3 py-2">
        <div class="row align-items-center justify-content-center">
          <div class="col">
            <h2 class="f-w-500 text-indigo mb-0">{{ totalPreferentes }}</h2>
            <h5 class="text-muted f-w-500 mb-0">Total Preferentes</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4 mb-3">
    <div class="card card-customer rounded mb-0">
      <div class="card-block px-3 py-2">
        <div class="row align-items-center justify-content-center">
          <div class="col">
            <h2 class="f-w-500 text-indigo mb-0">{{ totalAsignados }}</h2>
            <h5 class="text-muted f-w-500 mb-0">Total Asignados</h5>
          </div>
          <div class="col-auto">
            <h3 class="mb-0">{{ porcentajeAsignados.toFixed(1) }}%</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4 mb-3">
    <div class="card card-customer rounded mb-0">
      <div class="card-block px-3 py-2">
        <div class="row align-items-center justify-content-center">
          <div class="col">
            <h2 class="f-w-500 text-indigo mb-0">{{ totalAgendados }}</h2>
            <h5 class="text-muted f-w-500 mb-0">Total Agendados</h5>
          </div>
          <div class="col-auto">
            <h3 class="mb-0">{{ porcentajeAgendados.toFixed(1) }}%</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4 mb-3">
    <div class="card card-customer rounded mb-0">
      <div class="card-block px-3 py-2">
        <div class="row align-items-center justify-content-center">
          <div class="col">
            <h2 class="f-w-500 text-indigo mb-0">{{ totalEfectivos }}</h2>
            <h5 class="text-muted f-w-500 mb-0">Total Efectivos</h5>
          </div>
          <div class="col-auto">
            <h3 class="mb-0">{{ porcentajeEfectivos.toFixed(1) }}%</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4 mb-3">
    <div class="card card-customer rounded mb-0">
      <div class="card-block px-3 py-2">
        <div class="row align-items-center justify-content-center">
          <div class="col">
            <h2 class="f-w-500 text-indigo mb-0">{{ totalEfectivosNuevos }}</h2>
            <h5 class="text-muted f-w-500 mb-0">Total Efectivos Nuevos</h5>
          </div>
          <div class="col-auto">
            <h3 class="mb-0">{{ porcentajeEfectivosNuevos.toFixed(1) }}%</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4 mb-3">
    <div class="card card-customer rounded mb-0">
      <div class="card-block px-3 py-2">
        <div class="row align-items-center justify-content-center">
          <div class="col">
            <h2 class="f-w-500 text-indigo mb-0">{{ totalEfectivosAntiguos }}</h2>
            <h5 class="text-muted f-w-500 mb-0">Total Efectivos Antiguos</h5>
          </div>
          <div class="col-auto">
            <h3 class="mb-0">{{ porcentajeEfectivosAntiguos.toFixed(1) }}%</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <!-- GRILLA -->
  <div class="col-sm-12">
    <app-card [options]="false" cardTitle="LISTADO DE MAQUINAS" [hidHeader]="true">

      <div class="table table-sm-responsive">
        <table datatable [dtOptions]="dtResponsiveOptions" class="table table-sm table-hover table-caja display compact"></table>
      </div>

    </app-card>
  </div>
</div>

<!-- BOTONERA ESCRITORIO -->
<ul class="botonera-escritorio">
  <li>
    <button type="button" class="btn btn-primary btn-icon"   [placement]="'bottom'" ngbTooltip="Buscar" (click)= "search()"><fontawesome-svg class="m-auto" icon="search" type="regular" [width]="24" [height]="24"></fontawesome-svg></button>
    <button *ngIf="this.accTot || this.accExc" type="button" class="btn btn-primary btn-icon"   [placement]="'bottom'" ngbTooltip="Exportar" (click)= "export()"><fontawesome-svg class="m-auto" icon="file-excel" type="light" [width]="24" [height]="24"></fontawesome-svg></button>
  </li>
</ul>
