
<!-- SPINNER -->
<ngx-spinner
    [template]="rutaImageSpinner">
    <p style="color: white" > Cargando... </p>
</ngx-spinner>


<!-- BOTONERA ESCRITORIO -->
<ul class="botonera-escritorio">
  <li>
    <button id="btnListar1" type="button" class="btn btn-primary btn-icon" [placement]="'bottom'" ngbTooltip="Actualizar"    (click)="asignacionListar()">                   <i class="mdi mdi-sync"></i></button>
 </li>
</ul>

<!-- Menu Movil -->
<div class="float-menu">
  <button mat-fab color="primary" class="bg-primary" (click)="verOpciones()">
    <mat-icon>settings</mat-icon>
  </button>
</div>
<ng-template let-bottomSheetRef="bottomSheetRef" #menuMovil >
  <div class="_content" >
    <div class="_header">
      <div class="px-4 pt-4 text-center">
        <span class="d-inline-block topline"></span>
        <p class="text-center text-white _title lead">Opciones</p>
      </div>
      <mat-divider class=""></mat-divider>
    </div>

    <mat-nav-list class="pt-0">
      <a mat-list-item (click)= "asignacionListar();cerrarOpciones();">
        <i class="mat-list-icon mdi mdi-sync"></i>
        <span class=" opt-title">Actualizar</span>
      </a>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </div>
</ng-template>




<div class="row">
  <!-- FILTRO -->
  <div class="col-sm-12">
    <app-card [options]="false" cardTitle="CONFIRMACIÓN DE CLIENTES">

      <form  [formGroup]="frmFiltro" class="px-3">

        <div class="form-row">
          <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-2">
            <div class="form-floating form-start-icon">
              <input id="filtroFecha" type="date" placeholder=" " class="form-control" formControlName="filtroFecha" (change)="citaListar()" >
              <label for="filtroFecha">Fecha confirmación</label>
              <span class="icon"><i class="mdi mdi-calendar"></i></span>
            </div>
          </div>

        </div>
      </form>

    </app-card>
  </div>

  <!-- GRILLA LISTADO-->
  <div class="form-group col-md-12">
    <table datatable [dtOptions]="dtResponsiveOptions" class="table table-sm table-hover table-citasAsignadas display compact"></table>
  </div>

</div>



