<form [formGroup]="formGroup" (ngSubmit)="evtOnSubmit()">
  <div class="scard bg-transparent popins h-100">
        <div class="modal-header card-header bg-gradient">
            <h5 class="card-title text-white f-w-500 m-0">Detalle de la Linea o Item</h5>
            <button type="button" class="btn sbtn btn-sm btn-icon btn-active-color-primary h-auto w-auto p-0" (click)="cerrarModal(false)">
              <span class="svg-icon svg-icon-1 text-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
                  <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
                </svg>
              </span>
            </button>
        </div>
        <div class="card-body bg-white p-4 depilform position-relative" >

          <loader-circle *ngIf="loading"></loader-circle>

            <div class="px-4">
              <div class="form-row">

                <!-- Producto  -->
                <div class="mb-2 col-md-12">
                  <label for="producto" class="form-label mb-0 text-secondary f-w-500">Producto - Servicio</label>
                  <input id="producto" formControlName="producto"  type="text" class="form-indigo form-control form-indigo form-control-sm" disabled >
                </div>

                <!-- Detalle  -->
                <div class="mb-2 col-md-12">
                  <label for="detalle" class="form-label mb-0 text-secondary f-w-500">Detalle adicional</label>
                  <input id="detalle" formControlName="detalle"  type="text" class="form-indigo form-control form-indigo form-control-sm" >
                </div>

                <!-- Cantidad  -->
                <div class="mb-2 col-md-4">
                  <label for="cantidad" class="form-label mb-0 text-secondary f-w-500">Cantidad</label>
                  <input id="cantidad" formControlName="cantidad"  type="number" class="form-indigo form-control form-indigo form-control-sm" disabled>
                </div>

                <!-- Valor Unitario  -->
                <div class="mb-2 col-md-4" lang="en-US">
                  <label for="valorUnitario" class="form-label mb-0 text-secondary f-w-500">VALOR Unit. (Sin IGV)</label>
                  <input id="valorUnitario" inputmode="decimal" min="0" step="0.01" type="text" class="form-indigo form-control form-indigo form-control-sm appearance-textfield" [value]="detalle.valorUnitario.toFixed(2)" disabled>
                </div>

                <!-- SubTotal  -->
                <div class="mb-2 col-md-4" lang="en-US">
                  <label for="subTotal" class="form-label mb-0 text-secondary f-w-500">Subtotal</label>
                  <input id="subTotal" type="text" inputmode="decimal" min="0" step="0.01" class="form-indigo form-control form-indigo form-control-sm appearance-textfield" [value]="detalle.subTotal.toFixed(2)" disabled>
                </div>

                <!-- Tipo Igv -->
                <div class="mb-2 col-4">
                  <label for="idTipoIgv" class="form-label mb-0 text-secondary f-w-500">Tipo IGV</label>
                  <select id="idTipoIgv" class="form-indigo form-select form-indigo form-select-sm" formControlName="idTipoIgv">
                    <option *ngFor="let t of tiposIgv" [value]="t.id">{{ t.nombre }}</option>
                  </select>
<!--                  <ng-select #selectZona id="idTipoIgv" class="w-100"  [items]="tiposIgv" [searchable]="false" bindLabel="nombre" bindValue="id" placeholder="&#45;&#45;Seleccionar&#45;&#45;" formControlName="idTipoIgv" [options]="{allowClear: false}">-->
<!--                    <ng-template ng-header-tmp>-->
<!--                      <input type="text" class="form-control form-control-sm border rounded text-indigo fs-13px" (input)="selectZona.filter($event.target.value)"/>-->
<!--                    </ng-template>-->
<!--                  </ng-select>-->
                </div>

                <!-- IGV de la linea  -->
                <div class="mb-2 col-md-4" lang="en-US">
                  <label for="igv" class="form-label mb-0 text-secondary f-w-500">Igv de la linea</label>
                  <input id="igv"  type="text" inputmode="decimal" step="0.00" min="0.00" class="form-indigo form-control form-indigo form-control-sm appearance-textfield" [value]="detalle.igv.toFixed(2)" disabled>
                </div>

                <!-- Total -->
                <div class="mb-2 col-md-4">
                  <label for="total" class="form-label mb-0 text-secondary f-w-500">Total</label>
                  <input id="total"  type="text" inputmode="decimal" step="0.00" min="0.00" class="form-indigo form-control form-indigo form-control-sm" [value]="getPrecio().toFixed(2)" disabled>
                </div>

<!--                &lt;!&ndash; Total &ndash;&gt;-->
<!--                <div class="mb-2 col-md-4">-->
<!--                  <label for="total" class="form-label mb-0 text-secondary f-w-500">Impuesto a la Bolsa Plástica</label>-->
<!--                  <div class="form-check form-switch form-check-custom form-check-solid me-10">-->
<!--                    <input #inputImpBolsa class="form-check-input w-60px cursor-pointer" type="checkbox" formControlName="impBolsa" id="impBolsa"/>-->
<!--                    <label class="form-check-label text-indigo" for="impBolsa">-->
<!--                      {{ inputImpBolsa.checked ? 'Si' : 'No' }}-->
<!--                    </label>-->
<!--                  </div>-->
<!--                </div>-->

              </div>
             </div>
        </div>
        <div class="modal-footer bg-white py-3">
            <div class="form-row float-right">
              <button matRipple [disabled]="loading" type="button" class="btn sbtn btn-light mr-2" (click)="cerrarModal()">Cancelar</button>
              <button matRipple type="submit" class="btn sbtn btn-primary shadow btn-shadow-primary" >Aceptar</button>
            </div>
        </div>

    </div>
</form>
