<form [formGroup]="frmGroup" (ngSubmit)="onSubmit()" class="popins">
  <div class="scard bg-transparent popins">
    <div class="modal-header card-header bg-gradient">
      <h5 class="card-title text-white f-w-500 m-0">{{ data ? 'Editar' : 'Nuevo' }} Tipo de Igv</h5>
      <button type="button" class="btn sbtn btn-sm btn-icon btn-active-color-primary h-auto w-auto p-0" (click)="cerrarModal(false)">
              <span class="svg-icon svg-icon-1 text-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
                  <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
                </svg>
              </span>
      </button>
    </div>
    <div class="card-body bg-white p-5">
      <div class="form-group">
        <label for="nombre" class="fw-semibold text-gray-800 mb-0">Nombre de tipo de igv</label>
        <input type="text" maxlength="75" class="form-control form-control-solid" id="nombre" placeholder="Ingresar el nombre del tipo de igv" formControlName="nombre" [ngClass]="{ 'is-invalid bg-color-light-danger': submitted && f.nombre.errors }" >
        <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback d-block">
          <div *ngIf="f.nombre.errors.required">Ingrese el nombre del tipo de igv</div>
        </div>
      </div>


      <div class="form-group">
        <label for="descripcion" class="fw-semibold text-gray-800 mb-0">Descripción</label>
        <textarea type="text" maxlength="150" class="form-control form-control-solid" id="descripcion" placeholder="Ingresar la descripción" formControlName="descripcion" rows="3"></textarea>
      </div>


      <div class="form-group">
        <label for="valor" class="fw-semibold text-gray-800 mb-0">Valor</label>
        <input type="text" maxlength="5" class="form-control form-control-solid dz-uppercase" id="valor" placeholder="Ingresar el valor del api" formControlName="valor" [ngClass]="{ 'is-invalid bg-color-light-danger': submitted && f.valor.errors }" >
        <div *ngIf="submitted && f.valor.errors" class="invalid-feedback d-block">
          <div *ngIf="f.valor.errors.required">Ingrese el valor del tipo de documento</div>
        </div>
      </div>

      <div class="mb-2 depilform">
        <label class="form-label mb-0 text-secondary f-w-500">Aplica Igv?</label>
        <div class="form-check form-switch form-check-custom form-check-solid me-10">
          <input #inputAplicaIgv class="form-check-input w-60px cursor-pointer" type="checkbox" formControlName="aplicaIgv" id="aplicaIgv"/>
          <label class="form-check-label text-indigo" for="aplicaIgv">
            {{ inputAplicaIgv.checked ? 'Si' : 'No' }}
          </label>
        </div>
      </div>

      <div class="form-row depilform">
        <div class="mb-2 col-4">
          <label class="form-label mb-0 text-secondary f-w-500">Gratuita?</label>
          <div class="form-check form-switch form-check-custom form-check-solid me-10">
            <input #inputGratuita class="form-check-input w-60px cursor-pointer" type="checkbox" formControlName="gratuita" id="gratuita"/>
            <label class="form-check-label text-indigo" for="gratuita">
              {{ inputGratuita.checked ? 'Si' : 'No' }}
            </label>
          </div>
        </div>
        <div class="mb-2 col-4">
          <label class="form-label mb-0 text-secondary f-w-500">Inafecta?</label>
          <div class="form-check form-switch form-check-custom form-check-solid me-10">
            <input #inputInafecta class="form-check-input w-60px cursor-pointer" type="checkbox" formControlName="inafecta" id="inafecta"/>
            <label class="form-check-label text-indigo" for="inafecta">
              {{ inputInafecta.checked ? 'Si' : 'No' }}
            </label>
          </div>
        </div>
        <div class="mb-2 col-4">
          <label class="form-label mb-0 text-secondary f-w-500">Exonerada?</label>
          <div class="form-check form-switch form-check-custom form-check-solid me-10">
            <input #inputExonerada class="form-check-input w-60px cursor-pointer" type="checkbox" formControlName="exonerada" id="exonerada"/>
            <label class="form-check-label text-indigo" for="exonerada">
              {{ inputExonerada.checked ? 'Si' : 'No' }}
            </label>
          </div>
        </div>
      </div>

      <div class="form-group mb-0">
        <label class="fw-semibold text-gray-800 mb-0">Estado</label>
        <select class="form-select form-select-solid" id="idEstado" formControlName="idEstado">
          <option *ngFor="let est of estados" [value]="est.id">{{ est.value }}</option>
        </select>
      </div>

    </div>
    <div class="modal-footer bg-white py-3">
      <div class="form-row float-right">
        <button matRipple [disabled]="loading" type="reset" class="btn sbtn btn-light mr-2" (click)="cerrarModal(false)">Cancelar</button>
        <button  matRipple type="submit" class="btn sbtn btn-primary shadow btn-shadow-primary" [attr.data-dp-indicator]="loading">
          <span class="indicator-label">
              Guardar
          </span>
          <span class="indicator-progress">
            Cargando... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
          </span>
        </button>

      </div>
    </div>

  </div>
</form>
