<div class="modal-content mt-5" >
    <div class="modal-header card-header bg-gradient">
      <h5 class="card-title text-white f-w-500 m-0">Agendar Citas</h5>
      <button type="button" class="btn sbtn btn-sm btn-icon btn-active-color-primary h-auto w-auto p-0" (click)="cerrarModal(false)">
                  <span class="svg-icon svg-icon-1 text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
                      <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
                    </svg>
                  </span>
      </button>
    </div>
    <div class="modal-body card-body">

        <div class="row mx-0 mdl-servicios-mbl">

          <div *ngIf="preferente" class="col-12 mb-3">
            <div class="f-w-500">Preferente: {{ preferente?.nombres }} {{ preferente?.apellidos}}</div>
          </div>

          <div class="col-6 col-lg-6 mb-3 popins">
            <a class="card card-hover border border-4px border-white d-flex flex-column overflow-hidden rounded-30px shadow mb-0" matRipple (click)="navegarSegunDispositivo('/Cita', enumServicio.Depilacion)">
              <div class="d-flex flex-row h-100px" style="background-image: url('assets/images/services/servicio1.png');background-size:cover; background-repeat: no-repeat;background-position: center">
                <div class="w-50"></div>
              </div>
              <div class="text-center text-white f-w-500 bg-primary py-2">Depilación Láser</div>
            </a>
          </div>

          <div class="col-6 col-lg-6 mb-3 popins">
            <a class="card card-hover border border-4px border-white d-flex flex-column overflow-hidden rounded-30px shadow mb-0" matRipple (click)="navegarSegunDispositivo('/Cita', enumServicio.Blanqueamiento)">
              <div class="d-flex flex-row h-100px" style="background-image: url('assets/images/services/blanqueamiento.jpg');background-size:cover; background-repeat: no-repeat;background-position: center">
                <div class="w-50"></div>
              </div>
              <div class="text-center text-white f-w-500 bg-primary py-2">Aclaramiento</div>
            </a>
          </div>

          <div class="col-6 col-lg-6 mb-3 popins">
            <a class="card card-hover border border-4px border-white d-flex flex-column overflow-hidden rounded-30px shadow mb-0" matRipple (click)="navegarSegunDispositivo('/Corporal360/Cronograma', 0, true)">
              <div class="d-flex flex-row h-100px" style="background-image: url('assets/images/services/corporal-360.png');background-size:cover; background-repeat: no-repeat;background-position: center">
                <div class="w-50"></div>
              </div>
              <div class="text-center text-white f-w-500 bg-primary py-2">Corporal 360 / Lipopapada</div>
            </a>
          </div>

          <div class="col-6 col-lg-6 mb-3 popins">
            <a class="card card-hover border border-4px border-white d-flex flex-column overflow-hidden rounded-30px shadow mb-0" matRipple (click)="navegarSegunDispositivo('/Cita', enumServicio.HollywoodPeel)">
              <div class="d-flex flex-row h-100px" style="background-image: url('assets/images/services/hollywoodpeel.jpg');background-size:cover; background-repeat: no-repeat;background-position: center">
                <div class="w-50"></div>
              </div>
              <div class="text-center text-white f-w-500 bg-primary py-2">Hollywood Peel</div>
            </a>
          </div>

          
          <div class="col-6 col-lg-6 mb-3 popins">
            <a class="card card-hover border border-4px border-white d-flex flex-column overflow-hidden rounded-30px shadow mb-0" matRipple (click)="navegarSegunDispositivo('/Cita', enumServicio.TratamientoFacial)">
              <div class="d-flex flex-row h-100px" style="background-image: url('assets/images/services/tratamiento-facial.png');background-size:cover; background-repeat: no-repeat;background-position: center">
                <div class="w-50"></div>
              </div>
              <div class="text-center text-white f-w-500 bg-primary py-2">Tratamiento Facial</div>
            </a>
          </div>

          <div class="col-6 col-lg-6 mb-3 popins">
            <a class="card card-hover border border-4px border-white d-flex flex-column overflow-hidden rounded-30px shadow mb-0" matRipple (click)="navegarSegunDispositivo('/Cita', enumServicio.Exfoliacion)">
              <div class="d-flex flex-row h-100px" style="background-image: url('assets/images/services/exfoliacion.jpg');background-size:cover; background-repeat: no-repeat;background-position: center">
                <div class="w-50"></div>
              </div>
              <div class="text-center text-white f-w-500 bg-primary py-2">Exfoliación</div>
            </a>
          </div>   
          
          <div class="col-6 col-lg-6 mb-3 popins">
            <a class="card card-hover border border-4px border-white d-flex flex-column overflow-hidden rounded-30px shadow mb-0" matRipple (click)="navegarSegunDispositivo('/Cita', enumServicio.Dermatologia)">
              <div class="d-flex flex-row h-100px" style="background-image: url('assets/images/services/exfoliacion.png');background-size:cover; background-repeat: no-repeat;background-position: center">
                <div class="w-50"></div>
              </div>
              <div class="text-center text-white f-w-500 bg-primary py-2">Dermatologia</div>
            </a>
          </div>   
    </div>
    <div class="modal-footer bg-white py-3">
      <div class="form-row float-right">
        <button matRipple type="reset" class="btn sbtn btn-light mr-2" (click)="cerrarModal()">Cerrar</button>
      </div>
    </div>

</div>
