  <!-- SPINNER -->
  <ngx-spinner
      [template]="rutaImageSpinner">
      <p style="color: white" > Cargando... </p>
  </ngx-spinner>


  <!-- BOTONERA ESCRITORIO -->
  <ul class="botonera-escritorio">
    <li>
      <button id="btnListar1"         type="button" class="btn btn-primary btn-icon" [placement]="'bottom'" ngbTooltip="Actualizar"    (click)="asignacionListar()">                   <i class="mdi mdi-sync"></i></button>
      <button id="btnConfirmarCita1"  type="button" class="btn btn-primary btn-icon" [placement]="'bottom'" ngbTooltip="Trabajar cita" (click)="irCita()" ><i class="far fa-hand-point-up"></i></button>
    </li>
  </ul>

  <!-- Menu Movil -->
  <div class="float-menu">
    <button mat-fab color="primary" class="bg-primary" (click)="verOpciones()">
      <mat-icon>settings</mat-icon>
    </button>
  </div>
  <ng-template let-bottomSheetRef="bottomSheetRef" #menuMovil >
    <div class="_content" >
      <div class="_header">
        <div class="px-4 pt-4 text-center">
          <span class="d-inline-block topline"></span>
          <p class="text-center text-white _title lead">Opciones</p>
        </div>
        <mat-divider class=""></mat-divider>
      </div>

      <mat-nav-list class="pt-0">
        <a mat-list-item (click)= "asignacionListar();cerrarOpciones();">
          <i class="mat-list-icon mdi mdi-sync"></i>
          <span class=" opt-title">Actualizar</span>
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item (click)="irCita();cerrarOpciones();">
          <i class="mat-list-icon far fa-hand-point-up"></i>
          <span class=" opt-title">Trabajar cita</span>
        </a>
        <mat-divider></mat-divider>

      </mat-nav-list>
    </div>
  </ng-template>




  <div class="row">
    <!-- FILTRO -->
    <div class="col-sm-12">
      <app-card [options]="false" cardTitle="CONFIRMACIÓN DE CITAS">
        <form  [formGroup]="frmFiltro">

          <div class="form-row">
            <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
              <div class="form-floating form-start-icon">
                <input id="filtroFecha" type="date" placeholder=" " class="form-control" formControlName="filtroFecha" (change)="citaListar()">
                <label for="filtroFecha">Fecha confirmación</label>
                <span class="icon"><span class="dicon calendar m-auto"></span></span>
              </div>
            </div>
          </div>
        </form>
      </app-card>
    </div>

    <!-- GRILLA RESUMEN-->
    <div class="form-group col-md-12">
      <div class="form-row">

        <div class="form-group col-md-9">
          <table class="resumen center">
            <caption>RESUMEN DE CITAS</caption>
            <tbody>
            <tr>
              <td>Sin Confirmar</td><td>Dia Siguiente</td><td>Semana Siguiente</td>
            </tr>
            <tr>
              <td class="td-style">{{ sinConfirmar }}</td><td class="td-style">{{ diaSiguiente }}</td><td class="td-style">{{ semanaSiguiente }}</td>
            </tr>
            <tr>
              <td>Reprogramada</td><td>Cancelada</td><td>Anulada</td>
            </tr>
            <tr>
              <td class="td-style">{{ reprogramada }}</td><td class="td-style">{{ cancelada }}</td><td class="td-style">{{ anulada}}</td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="form-group col-md-3">
          <table class="resumen avance">
            <caption>RESUMEN AVANCE</caption>
            <tbody>
            <tr>
              <td>Pendiente</td><td class="td-style">{{ asigPendiente }}</td>
            </tr>
            <tr>
              <td>Visto</td><td class="td-style">{{ asigVisto }}</td>
            </tr>
            <tr>
              <td>Trabajado</td><td class="td-style">{{ asigTrabajado }}</td>
            </tr>
            <tr>
              <td>Total</td><td class="td-style">{{ asigTotal }}</td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>


  <!-- GRILLA LISTADO-->
  <app-card [options]="false" [hidHeader]="true">
    <div class="form-group col-md-12">
      <div class="table table-sm-responsive"><table datatable [dtOptions]="dtResponsiveOptions" class="table table-sm table-hover table-citasAsignadas display compact"></table></div>
    </div>

  </app-card>
