.resumen {
    width: 100%; 
    border: 1px solid #495057;
}
caption {
    caption-side: top; 
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
    background-color: #495057;
    color: white;
    border: 1px solid #495057;
    border-radius: 5px 5px 0 0;
}
.resumen tbody tr td {
    border: 1px solid #495057;
}

.center tbody tr td {
   text-align: center;
}
.center tbody tr:nth-child(odd) {
    font-weight: bold;
    background-color: #04a9f5;
    color: white;
}
.center tbody tr:nth-child(even) {
    color: black;
}

.avance tbody tr td:nth-child(2)
{
    color: black;
    text-align: right;
}
.avance tbody tr td:nth-child(1)
{
    text-align: center;
    font-weight: bold;
    background-color: #04a9f5;
    color: white;
}


.td-style{
    background-color: white;
}