<!-- SPINNER -->
<ngx-spinner
    [template]="rutaImageSpinner">
    <p style="color: white" > Cargando... </p>
</ngx-spinner>

<!-- MODAL SEDE DATOS -->
<ng-template #modalSedeDatos let-modal let-close="close">
  <app-sede-datos [idSede]="idSede" [modal]="modalSedeDatosRef"></app-sede-datos>
</ng-template>


<div class="row">
  <!-- FILTRO GRILLA -->
  <div id="hidden-btn" style="visibility: hidden"></div>
  <div class="col-sm-12">
    <app-card [options]="false" cardTitle="SEDES" [customHeader]="false" [hidBlock]= "true">

      <!-- <form [formGroup]="frmFiltroGrilla">
        <div class="form-row">
          <div class="form-group col-md-auto">
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text">Nombre </span></div>
                <input type="text" class="form-control" formControlName="filterNombre" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
          </div>
        </div>
      </form> -->
    </app-card>
  </div>

  <!-- GRILLA -->
  <div class="col-sm-12">
    <app-card [options]="false" [customHeader]="false" [hidHeader]="true">
      <div class="table table-sm-responsive">
        <table datatable [dtOptions]="dtResponsiveOptions" class="table table-sm table-hover table-sede display compact"></table>
      </div>
    </app-card>
  </div>
</div>


<!-- BOTONERA ESCRITORIO -->
<ul class="botonera-escritorio">
  <li>
    <button type="button" class="btn btn-primary btn-icon" [placement]="'bottom'" ngbTooltip="Listar" (click)= "sedeListar()"><i class="mdi mdi-sync"></i></button>
    <button *ngIf="this.accTot || this.accCrud || this.accCreate" type="button" class="btn btn-primary btn-icon" [placement]="'bottom'" ngbTooltip="Nuevo" (click)= "nuevoSedeDatos(modalSedeDatos)"><i class="mdi mdi-plus-circle-outline"></i></button>
    <button *ngIf="selected && (this.accTot || this.accCrud || this.accUpdate)" type="button" class="btn btn-warning btn-icon" [placement]="'bottom'" ngbTooltip="Editar" (click)= "editarSedeDatos(modalSedeDatos)"><i class="mdi mdi-square-edit-outline"></i></button>
    <button *ngIf="this.accTot || this.accExc" type="button" class="btn btn-secondary btn-icon" [placement]="'bottom'" ngbTooltip="Excel" (click)="exportarTabla()"><i class="mdi mdi-file-excel-outline"></i></button>
  </li>
</ul>

<!-- Menu Movil -->
<div class="float-menu">
  <button mat-fab color="primary" class="bg-primary" (click)="verOpciones()">
    <mat-icon>settings</mat-icon>
  </button>
</div>
<ng-template let-bottomSheetRef="bottomSheetRef" #menuMovil >
  <div class="_content" >
    <div class="_header">
      <div class="px-4 pt-4 text-center">
        <span class="d-inline-block topline"></span>
        <p class="text-center text-white _title lead">Opciones</p>
      </div>
      <mat-divider class=""></mat-divider>
    </div>

    <mat-nav-list class="pt-0">

      <div>
        <a mat-list-item (click)="sedeListar();cerrarOpciones();">
          <i class="mat-list-icon mdi mdi-sync"></i>
          <span class=" opt-title">Actualizar lista</span>
        </a>
        <mat-divider></mat-divider>
      </div>

      <div>
        <a mat-list-item (click)="nuevoSedeDatos(modalSedeDatos);cerrarOpciones();">
          <i class="mat-list-icon mdi mdi-plus-circle-outline"></i>
          <span class=" opt-title">Nueva sede</span>
        </a>
        <mat-divider></mat-divider>
      </div>

      <div>
        <a mat-list-item (click)="editarSedeDatos(modalSedeDatos);cerrarOpciones();">
          <i class="mat-list-icon mdi mdi-square-edit-outline"></i>
          <span class=" opt-title">Editar sede</span>
        </a>
        <mat-divider></mat-divider>
      </div>

      <div>
        <a mat-list-item (click)="exportarTabla();cerrarOpciones();">
          <i class="mat-list-icon mdi mdi-file-excel-outline"></i>
          <span class=" opt-title">Exportar excel</span>
        </a>
        <mat-divider></mat-divider>
      </div>

    </mat-nav-list>
  </div>
</ng-template>

