
<form [formGroup]="frmGroup" (ngSubmit)="onSubmit()">
    <div class="modal-content">
        <div class="modal-header card-header">
            <h5 class="modal-title text-dark fw-500">{{ data ? 'Editar' : 'Nuevo' }} Tratamiento</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body card-body p-4">
            <div class="form-group popins">
              <label class="fw-semibold text-gray-800 required">Nombre </label>
              <input type="text" maxlength="50" class="form-control form-control-solid" formControlName="nombre" [ngClass]="{ 'bg-color-light-danger': submitted && f.nombre.errors }">
              <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback d-block">
                <div *ngIf="f.nombre.errors.required">Ingresar el nombre de la tecnología</div>
              </div>
            </div>


            <div class="form-group popins">
              <label class="fw-semibold text-gray-800 required">Servicio</label>
              <select class="form-select form-select-solid" formControlName="idServicio" [ngClass]="{ 'bg-color-light-danger': submitted && f.idServicio.errors }">
                <option value="">...Seleccionar...</option>
                <option *ngFor="let serv of servicios" [value]="serv.id">{{ serv.nombre }}</option>
              </select>
              <div *ngIf="submitted && f.idServicio.errors" class="invalid-feedback d-block">
                <div *ngIf="f.idServicio.errors.required">Seleccionar un servicio</div>
              </div>
            </div>

          <div class="form-group popins">
            <label class="fw-semibold text-gray-800 required">Estado</label>
            <select class="form-select form-select-solid" id="idEstado" formControlName="idEstado" [ngClass]="{ 'bg-color-light-danger': submitted && f.idEstado.errors }">
              <option *ngFor="let est of estados" [value]="est.id">{{ est.value }}</option>
            </select>
          </div>
        </div>
        <div class="modal-footer card-footer">
            <div class="form-row float-right">
                <button type="submit" class="btn btn-outline-primary"><i
                        class="feather icon-save"></i>Guardar</button>
                <button type="reset" class="btn btn-outline-danger" (click)="cerrarModal()"><i
                        class="feather icon-slash"></i>Cancelar</button>
            </div>
        </div>

    </div>
</form>
