<form [formGroup]="formGroup" (ngSubmit)="evtOnSubmit()" class="popins mh-100">
  <div class="scard bg-transparent popins mh-100">
    <div class="modal-header card-header bg-gradient">
      <h5 class="card-title text-white f-w-500 m-0">Cierre de Caja</h5>
      <button type="button" class="btn sbtn btn-sm btn-icon btn-active-color-primary h-auto w-auto p-0" (click)="cerrarModal()">
              <span class="svg-icon svg-icon-1 text-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
                  <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
                </svg>
              </span>
      </button>
    </div>
    <div class="card-body bg-white p-4 depilform position-relative d-flex flex-column">
            <div class="form-row">

                <div class="mb-2 col-md-12">
                    <label for="descripcion" class="form-label mb-0 text-secondary f-w-500">Caja</label>
                    <input id="descripcion" type="text" placeholder="Caja" class="form-indigo form-control form-indigo form-control-sm bg-light-indigo" formControlName="descripcion" disabled>
                </div>

                <div class="mb-2 col-md-12">
                  <label for="fechaCierre" class="form-label mb-0 text-secondary f-w-500">Fecha Cierre</label>
                  <input id="fechaCierre" type="date" placeholder="Caja" class="form-indigo form-control form-indigo form-control-sm bg-light-indigo" formControlName="fechaCierre" disabled>
                </div>

                <div class="mb-2 col-md-12">
                  <label for="turno" class="form-label mb-0 text-secondary f-w-500">Turno</label>
                  <select id="turno" formControlName="turno" class="form-indigo form-select form-indigo form-select-sm" disabled>
                    <option *ngFor="let t of turnos" [value]="t.id">{{ t.nombre }}</option>
                  </select>
                </div>

                <div class="mb-2 col-md-12">
                  <label for="salgoFinal" class="form-label mb-0 text-secondary f-w-500">Saldo Final</label>
                  <input id="salgoFinal" type="text" class="form-indigo form-control form-indigo form-control-sm" currencyMask [options]="options" formControlName="saldoFinal">
                </div>

            </div>
        </div>

        <div class="modal-footer bg-white py-3">
          <div class="form-row float-right">
            <button matRipple type="reset" class="btn sbtn btn-light mr-2" (click)="cerrarModal()">Cancelar</button>
            <button matRipple type="submit" class="btn sbtn btn-primary shadow btn-shadow-primary" >Guardar</button>
          </div>
        </div>

    </div>
</form>
